---
layout: default
title: Homepage
---

{% for post in paginator.posts %}
    <article class="post">
        <header class="post-header">
		  <time class="date">
            {{ post.date | date: "%d %B %Y" }}
          </time>
          <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        </header>
        {% if post.featured-image %}
        <div class="post-head-image-container">
          <img class="responsive-img" src="/assets/blog/featured-img/{{ post.featured-image}}">
        </div>
        {% endif %}
        <section class="post-content">
            {{ post.content }}
        </section>
    </article>

{% endfor %}

<nav class="pagination" role="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="newer-posts" href="/">&laquo; Newer Posts</a>
    {% else %}
      <a class="newer-posts" href="/page{{ paginator.previous_page }}/">&laquo; Newer Posts</a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <a class="older-posts" href="/page{{ paginator.next_page }}/">Older Posts &raquo;</a>
  {% endif %}
</nav>