<h2 class="title"><a href="https://play.google.com/store/apps/details?id=com.zhou.weatherpost">Weather Post</a></h2>
<div class="post">
  <a href="https://play.google.com/store/apps/details?id=com.zhou.weatherpost">
    <img class="responsive-img" src="/assets/img/project/weather_post.jpg">
  </a>
  A weather app for Android that uses data from Environment Canada. Designed with ease of use and functionality in mind.
</div>

<h2 class="title">Oriel Graph</h2>
<div class="post">
  <img class="responsive-img" src="/assets/img/project/oriel_graph.png">
  A full-fledged graphing calculator with useful calculation tools. Developed with Danny Ngo using the Swing framework.
</div>