<div class="name">
  <a href="/">{{ site.about.name }}</a>
</div>
<div class="quick-about">
  <p>{{ site.about.quickabout }}</p>
</div>
<div class="site-links">
  <ul class="site-links-list">
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/archive/">Archive</a></li>
  </ul>
</div>
<div class="connect-icons">
  <a class="connect-icon fa-github" href="https://github.com/{{ site.external.github }}"></a>
  <a class="connect-icon fa-stackoverflow" href="http://stackoverflow.com/users/{{site.external.stackoverflow }}"></a>
</div>