---
layout: blog
---

<div class="container posts">
  <article class="post row">
    <header class="post-header">
      <h1 class="title balance-text">{{ page.title }}</h1>
      <time class="date">
            {{ page.date | date: "%d %B %Y" }}
      </time>
        </header>
        {% if page.featured-image %}
        <div class="post-head-image-container">
            <img class="feature-img" src="/assets/blog/featured-img/{{ page.featured-image}}">
        </div>
        {% endif %}
        <section class="content nine columns">
            {{ content }}
        </section>
  </article>
</div>


<div id="blog-footer">
  <div class="container">
    <nav class="pagination">
      <div class="previous-post">
      {% if page.previous %}
        <a href="{{ page.previous.url }}">{{ page.previous.title }} &raquo;</a>
      {% endif %}
      </div>
      <div class="next-post">
      {% if page.next %}
        <a href="{{ page.next.url }}">&laquo; {{ page.next.title }}</a>
      {% endif %}
      </div>
    </nav>
  </div>
</div>
